
@font-face {
    font-family:'netflix-font';
    src: url(../Netflix/fonte/netflix-sans-font/NetflixSans-Regular.otf) format(opentype), url(../Netflix/fonte/netflix-sans-font/NetflixSans-Light.woff2) format(opentype);
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after
{
    padding: 0%;
    margin: 0%;
    font-family:'netflix-font';
    font-style: normal;
    box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    background-color: #000000;
}



#--itensMenuNAV
{
   
    width: 10vh;
    height: 100vh;
  
    position: fixed;

    backdrop-filter: blur(30px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);

    background: linear-gradient(80deg, transparent, rgb(0, 0, 0) 100%);

    z-index:10000;
    
    
}

#--itensMenuNAV ul
{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    
    list-style: none;
}

#--itensMenuNAV ul li svg
{
   width: 30px;
   transition: 0.3s;
   fill: rgb(231, 231, 231);
   
}
#--itensMenuNAV ul li svg:hover
{
    transition: 0.3s;
    width: 50px;
    fill: rgb(229, 9, 20);
    
    padding-left: 12px;
    border-left: 2px solid rgb(229, 9, 20);
   
}
/* HEADER BANNER */

.conteudoHeaderBanner
{
    height: 100vh;
   
    display: flex;
   
    justify-content: center;
    
    flex-direction: column;
    gap: 90px;

    color: aliceblue;

     background-image: url(../images/bg-header-1.png);
    -webkit-mask-image: linear-gradient(to top, transparent, rgb(0, 0, 0) 70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.contentBannerText
{
    display: flex;
    height: 100%;
    position: absolute;
    flex-direction: column;

    justify-content: center;
    margin-left: 15%;
    z-index: 10000;
    color: antiquewhite;
}
.logoBannerInitial
{
    display: flex;
    align-items: center;
    width: 5vh;
    height: 5vh;
}
.logoBannerInitial img
{
    width: 5vh;
    height: 5vh;
 
}

.logoBannerInitial h1
{
    font-size: 2vh;
    letter-spacing:.5rem;
    margin-left: 15px;
}

.buttonBannerInitial
{
    display: flex;

}
.tituloBannerInitialDIV
{
    font-size: 4vh;
    margin: 3vh 0vh;
}
.buttonBannerInitial button
{
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    

    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    margin: 3vh 2vh;

}

#--buttonAssistir
{
    background-color: rgb(238, 238, 238);
    padding: 0 25px;
}

#--buttonMaisInformacoes
{
    background-color: rgba(216, 216, 216, 0.5); 
    color: aliceblue;
    padding: 0 50px;  
}
#--buttonAssistir svg
{
    margin: 0%;
    padding: 0%;
   
}
.conteinerMovies
{
    display: flex;
    gap:20px;

    position: absolute;
    flex-wrap:nowrap;
} 
.cardInicial-item
{
    display: flex;
    width: 300px;
    height: 150px;
    
    flex-wrap: wrap;

    background-color: rgb(0, 0, 0);

}
<<<<<<< HEAD

@media screen and (max-width : 760px) {
    #--itensMenuNAV
    {
        display: none;
    }
}
=======
/* 
@media screen and (max-width : 760px){


} */
>>>>>>> de1580c653ebcc33b9448fb08f1d08d75f5782a4
