@font-face {
    font-family:'netflix-font';
    src: url(../Netflix/fonte/netflix-sans-font/NetflixSans-Regular.otf) format(opentype), url(../Netflix/fonte/netflix-sans-font/NetflixSans-Light.woff2) format(opentype);
    font-weight: normal;
    font-style: normal;
}


*, *:before, *:after
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

    font-family:'netflix-font';
    font-style: normal;
}
body{
    background-color: rgb(6, 49, 87);
}

#--itensMenuNAV
{
    height: 10vh;
    width: 100%;

    position: fixed;
    top: 90%;
    gap: 5px;

    backdrop-filter: blur(30px);
    border-right: 1px solid rgba(255, 255, 255, 0.3);

    background: linear-gradient(80deg, transparent, rgb(0, 0, 0) 100%);

    z-index:999999;
}

#--itensMenuNAV ul
{
    display: flex;
    flex-direction: row;
    z-index:10000;
}

#--itensMenuNAV ul li
{
    width: 5px;
}

#--itensMenuNAV ul li svg
{
   width: 30px;
   transition: 0.3s;
   fill: rgb(231, 231, 231);
   
}

#--itensMenuNAV ul li svg:hover
{
    transition: 0.3s;
    width: 50px;
    fill: rgb(229, 9, 20);
    
    padding-bottom: 12px;
    border-bottom: 2px solid rgb(229, 9, 20);
   
}

.conteudoHeaderBanner
{
    height: 580px;
    width: 90%;
    display: flex;
   
    justify-content: center;
    flex-direction: column;
    gap: 90px;
    
    position: relative;
    top: 30px;

    color: aliceblue;
    border-radius: 10px;

    background-image: url(../images/bg-header-1.png);
    /* -webkit-mask-image: linear-gradient(to top, transparent, rgb(0, 0, 0) 70%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.containerHeaderBack
{
    display: flex;
    justify-content: center;

    top: 20px;
    
}

.contentBannerText
{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;

    justify-content: center;
    z-index: 10000;

    position: absolute;
    top: 25%;
}

.paragrafoBannerInitial p 
{
    display: none;
}

#--buttons
{
    width: 100%;
}

.buttonBannerInitial
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
