
#--itensMenuNAV 
{
    padding: 0%;
    margin: 0%;
    display: none;

}
.logoBannerInitial
{
    padding: 0%;
    margin: 0%;
    width: 80%; 
}


.contentBannerText
{
    display: flex;
    justify-content: center;
    text-align: center;
}
.tituloBannerInitialDIV
{
    padding: 0%;
    margin: 0%;
    width: 80%; 
}

.buttonBannerInitial
{
    padding: 0%;
    margin: 0%;
    width: 80%;
}

.buttonBannerInitial button
{
    padding: 0%;
    margin: 0%;
    width: 80%;
}

.paragrafoBannerInitial
{
    padding: 0%;
    margin: 0%;
    width: 80%;
}


#--buttonMaisInformacoes
{
    padding: 0%;
    margin: 0%;
}